<div class="two-column">
  <table>
    <tr>
      <td colspan="2">
        <div class="head">
          {{contract.name}} № {{contract.id}}<br />
          {{contract.subject}}
        </div>
      </td>
    </tr>
    <tr>
      <td>{{contract.city}}</td>
      <td class="a-right"><%= contract_date %></td>
    </tr>
  </table>
</div>
