<p>
  <label><%= l(:label_orders_api_key) %> </label>
  <%= text_field_tag 'settings[orders_api_key]', @settings['orders_api_key'] %>
</p>
<p>
  <label><%= l(:label_orders_api_path) %> </label>
  <%= text_field_tag 'settings[orders_api_path]', @settings['orders_api_path'] %>
</p>
