<div class="descritpion">
  <%= form_for @contract, {
                   :as => :contract, 
                   :url => {:controller => 'order_contracts', :action => 'create', :issue_id => @issue},
                   :method => :post,
                   :html => {:id => 'new-contract-form'}
                 } do |f| %>
  <%= submit_tag l(:button_create) %>
  <% end %>
</div>  
