div.two-column table {
  position:relative;
  width:100%;
  border-collapse:separate;
  border:none;
}
div.two-column td {
  padding: 5px;
  width:50%;
  border:none;
  font-size: 11px;
}
div.two-column td.left {
  padding-right:20px;
}
div.two-column td.right {
  padding-left:20px;
}
img.stamp {
  position:absolute;
  width:150px;
  height:150px;
  left:70px;
  top:70px;
}
img.sign{
  position:absolute;
  left:40px;
  top:36px;
}
div.sign-line {
  position:absolute;
  top:70px;
}
.head {
  text-align:center;
  font-weight:bold;
}
div.two-column tr.stamp {
  height:230px;
}
td.a-right {
  text-align:right
}

div.contract-body ol { 
  counter-reset:section; 
  list-style-type:none; 
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
div.contract-body ol li { 
  list-style-type:none; 
  text-align: center;
  font-weight: bold;
}
div.contract-body ol li ol { counter-reset:subsection; }
div.contract-body ol li:before{
    counter-increment:section;
    content:counter(section) ". ";/*content:"Section " counter(section) ". ";*/
}
div.contract-body ol li ol li:before {
    counter-increment:subsection;
    content:counter(section) "." counter(subsection) ". ";
}
div.contract-body ol li ol li {
  text-align: left;
  font-weight: normal;
}
