<div class="two-column">
<table>
  <tr class="stamp">
    <td class="left">
      <div class="sign-line">
        <%= sign_line do %>
          {{institute.boss_for_sign}}
        <% end %><br>
        М.П.
      </div>
      <%= stamp_img_tag page, :sign %>
      <%= stamp_img_tag page, :stamp %>
    </td>
    <td class="right">
      <div class="sign-line">
        <%= sign_line %><br>
        М.П.
      </div>
    </td>
  </tr>
</table>
</div>
