<div class=two-column-sign>
<table>
  <tr>
    <td>
      <div class="sign-line">
        <%= "_"*25 %>/В.И. Федотов/<br>
        М.П.
      </div>
      <%= stamp_img_tag page, :sign %>
      <%= stamp_img_tag page, :stamp %>
    </td>
    <td>      <div class="sign-line">
        <%= "_"*25 %>/В.И. Федотов/<br>
        М.П.
      </div>
    </td>
  </tr>
</table>
</div>
